<div id="budget-container" class="container-fluid">
  <div id="budget-input" class="col-md-7">
    {{budget-table
      model=model.expenses
      createExpense=(action 'createExpense')
      editExpense=(action 'editExpense')
      deleteExpense=(action 'deleteExpense')
    }}
  </div> {{!-- end budget input --}}

  <div id="budget-output" class="col-md-5">

    <br>
    <section>
      {{button-group
        currentSelected=currentOutputOption
        updateSelect=updateOutputOption
        buttons=budgetOutputOptions
      }}
    </section>

    {{#if (eq currentOutputOption 'breakdown')}}
     {{!-- Pie Charts --}}
     <section>
        <h6 class="section__title">Current Breakdown</h6>
        {{pie-chart
          data=actualPieChartData
          selectedSeedColor="rgb(0,192,243)"
        }}
     </section>

     <section>
        <h6 class="section__title">Target Breakdown using 50/20/30 budget methodology</h6>
        {{pie-chart
          data=targetPieChartData
          selectedSeedColor="rgb(0,192,243)"
        }}
     </section> {{!-- end Pie Charts --}}

    {{else}}

      {{!-- 1. Take Home Pay --}}
      <section>
        <h6 class="section__title">1. Determine your monthly take-home pay</h6>

        <div class="section__inner-cont">
          {{slider-range
            label_1="My take-home pay is"
            label_2="a month"
            min=100
            max=10000
            step=1
            value=model.monthlyTakeHomePay
            update=(route-action 'updateTakeHomePay')
            numberType="currency"
          }}

          <span class="text--helper"><i>
            Use the slider or the
            {{#link-to 'calculators.estimate-take-home-pay'}}
              Estimate Take-Home Pay Calculator
            {{/link-to}}
          </i></span>
        </div>
      </section>


      {{!-- 2. Monthly Spending --}}
      <section>
        <h6 class="section__title">2. Add up your monthly expenses and saving</h6>
        <div class="section__inner-cont">
          <h3>{{format-number totalMonthlyExpenses "currency"}}</h3><br>
          <p>
            is how much I spend and save a month <br>
            <i>(essential + savings + variable)</i>
          </p>
        </div>
      </section>

      {{!-- 3. Surplus/Deficit --}}
      <section>
        <h6 class="section__title">3. Take-home pay - (expenses + savings) = budget surplus/deficit  </h6>
          <h4>
            My budget
            {{#if (lt budgetSurplus 0)}}
              <span class="bold text--red">deficit</span>
            {{else}}
              <span class="bold text--blue-gray">surplus</span>
            {{/if}} is
          </h4>
          {{#if (lt budgetSurplus 0)}}
             <h3 class="text--red">{{format-number budgetSurplus "currency"}}</h3>
          {{else}}
             <h3>{{format-number budgetSurplus "currency"}}</h3>
          {{/if}}
      </section>
    {{/if}}
    <br>

  </div>{{!-- end budget output--}}
</div>{{!-- end budget container--}}
