
<table id="budget-table">

  <!-- Table Header -->
  <div id="budget-header" class="budget__section">
    <th>Monthly Budget</th>
  </div>

  <!-- Column Labels -->
  <tr id="budget-column-labels">
    <th class="budget__column--icon"></th>
    <th class="budget__column--expense-name">Expense Type</th>
    <th class="budget__column--expense-amount">Amount</th>
    <th class="budget__column--expense-percent">% of Total</th>
    <th class="budget__column--gap"></th>
  </tr>

    <!-- ============ Fixed Expenses ============ -->
    <tr class="budget__section-total">
      <td class="budget__column--icon toggle-expense-list">
        {{#if showFixedExpenses}}
          <button {{action 'toggleExpenses' 'fixed'}}>{{fa-icon "caret-down" fixedWidth=true}}</button>
        {{else}}
          <button {{action 'toggleExpenses' 'fixed'}}>{{fa-icon "caret-right" fixedWidth=true}}</button>
        {{/if}}
      </td>

      <td class="budget__column--expense-name">Essential Expenses</td>
      <td class="budget__column--expense-amount">
        {{format-number totalFixedExpenses "currency"}}
      </td>
      <td class="budget__column--expense-percent">
         {{format-number percentFixed "percent" 1}}
      </td>
      <td class="budget__column--gap"></td>
    </tr>

    {{#if showFixedExpenses}}
      {{#each fixedExpenses as |expense| }}
        {{budget-expense
          expense=expense
          totalExpenses=totalExpenses
          passUpEditedExpense=(action 'passUpEditedExpense')
          passUpDeletedExpense=(action 'passUpDeletedExpense')
        }}
      {{/each}}

      <div class="budget__add-expense">
        <button class="btn" {{action 'handleCreateExpense' 'fixed'}} >
          {{fa-icon "plus"
            width='40px'
            fixedWidth=true
          }}
        </button>
      </div>
    {{/if}}
    <!-- ============ End Fixed Expenses ============ -->

    <!-- ============ Savings ============ -->
    <tr class="budget__section-total">
      <td class="budget__column--icon toggle-expense-list">
        {{#if showSavings}}
          <button {{action 'toggleExpenses' 'saving'}}>{{fa-icon "caret-down" fixedWidth=true}}</button>
        {{else}}
          <button {{action 'toggleExpenses' 'saving'}}>{{fa-icon "caret-right" fixedWidth=true}}</button>
        {{/if}}
      </td>

      <td class="budget__column--expense-name">Savings</td>
      <td class="budget__column--expense-amount">
        {{format-number totalSavings "currency"}}
      </td>
      <td class="budget__column--expense-percent">
         {{format-number percentSavings "percent" 1}}
      </td>
      <td class="budget__column--gap"></td>
    </tr>

    {{#if showSavings}}
      {{#each savingExpenses as |expense| }}
        {{budget-expense
          expense=expense
          totalExpenses=totalExpenses
          passUpEditedExpense=(action 'passUpEditedExpense')
          passUpDeletedExpense=(action 'passUpDeletedExpense')
        }}
      {{/each}}

      <div class="budget__add-expense">
        <button class="btn" {{action 'handleCreateExpense' 'saving'}} >
          {{fa-icon "plus"
            width='40px'
            fixedWidth=true
          }}
        </button>
      </div>
    {{/if}}
    <!-- ============ Savings ============ -->


    <!-- ============ Variable Expenses ============ -->
    <tr class="budget__section-total">
      <td class="budget__column--icon toggle-expense-list">
        {{#if showVariableExpenses}}
          <button {{action 'toggleExpenses' 'variable'}}>{{fa-icon "caret-down" fixedWidth=true}}</button>
        {{else}}
          <button {{action 'toggleExpenses' 'variable'}}>{{fa-icon "caret-right" fixedWidth=true}}</button>
        {{/if}}
      </td>

      <td class="budget__column--expense-name">Variable Expenses</td>
      <td class="budget__column--expense-amount">
        {{format-number totalVariableExpenses "currency"}}
      </td>
      <td class="budget__column--expense-percent">
         {{format-number percentVariable "percent" 1}}
      </td>
      <td class="budget__column--gap"></td>
    </tr>

    {{#if showVariableExpenses}}
      {{#each variableExpenses as |expense| }}
        {{budget-expense
          expense=expense
          totalExpenses=totalExpenses
          passUpEditedExpense=(action 'passUpEditedExpense')
          passUpDeletedExpense=(action 'passUpDeletedExpense')
        }}
      {{/each}}

      <div class="budget__add-expense">
        <button class="btn" {{action 'handleCreateExpense' 'variable'}} >
          {{fa-icon "plus"
            width='40px'
            fixedWidth=true
          }}
        </button>
      </div>
    {{/if}}
    <!-- ============ Variable Expenses ============ -->


    <!-- ============ Total Budget ============ -->
    <tr id="budget-total">
      <td class="budget__column--icon toggle-expense-list">
      </td>

      <td class="budget__column--expense-name">Total</td>
      <td class="budget__column--expense-amount">
        {{format-number totalExpenses "currency"}}
      </td>
      <td class="budget__column--expense-percent">
         {{format-number 1 "percent"}}
      </td>
      <td class="budget__column--gap"></td>
    </tr>





</table>