
<table id="budget-table">

  <!-- Table Header -->
  <div id="budget-header" class="budget__section">
    <th>Monthly Budget</th>
  </div>

  <!-- Column Labels -->
  <tr id="budget-column-labels">
    <th class="table-icon"></th>
    <th class="text-align--left">Expense Type</th>
    <th></th>
    <th>Value</th>
    <th class=""></th>
    <th class="budget-section-percent"></th>
  </tr>



  <!-- Fixed Expenses -->
    <tr id="fixed-expenses-total" class="budget_section-total">

      <td class="table-icon toggle-expense-list">
        {{#if showFixedExpenses}}
          <button {{action 'toggleExpenses' 'fixed'}}>{{fa-icon "caret-down" fixedWidth=true}}</button>
        {{else}}
          <button {{action 'toggleExpenses' 'fixed'}}>{{fa-icon "caret-right" fixedWidth=true}}</button>
        {{/if}}
      </td>

   {{!--    <td class="table-gap">
        <button {{action 'handleCreateExpense' 'fixed'}} >
          {{fa-icon "plus-circle"
            width='40px'
            class="budget-color-fixed"
            fixedWidth=true
          }}
        </button>
      </td> --}}

      <td class="bold table-desc">Essential Expenses</td>















      <td class="table-gap"></td>
      <td class="bold table-currency">{{format-number totalFixedExpenses "currency"}}</td>
      <td class="budget-section-percent">{{percentFixed}}%</td>
    </tr>

    {{#if showFixedExpenses}}
      {{#each fixedExpenses as |expense| }}
        {{budget-expense
          expense=expense
          passUpEditedExpense=(action 'passUpEditedExpense')
          passUpDeletedExpense=(action 'passUpDeletedExpense')
        }}
      {{/each}}
    {{/if}}

    <tr class="table-gap-row"></tr>
    <!-- End Fixed Expenses -->

    <!-- Savings -->
      <tr id="savings-total" class="budget-section-total">

       <td class="table-gap">
          <button {{action 'handleCreateExpense' 'saving'}} >
            {{fa-icon "plus-circle"
              width='40px'
              class="budget-color-savings"
              fixedWidth=true
            }}
          </button>
        </td>

        <td class="bold table-desc">Savings</td>
        <td class="table-gap"></td>
        <td class="bold table-currency">{{format-number totalSavings "currency"}}</td>
        <td class="budget-section-percent">{{percentSavings}}%</td>

        <td class="table-icon toggle-expense-list">
          {{#if showSavings}}
            <button {{action 'toggleExpenses' 'saving'}}>{{fa-icon "caret-down" fixedWidth=true}}</button>
          {{else}}
            <button {{action 'toggleExpenses' 'saving'}}>{{fa-icon "caret-left" fixedWidth=true}}</button>
          {{/if}}
        </td>

      </tr>

      {{#if showSavings}}
        {{#each savingExpenses as |expense| }}
          {{budget-expense
            expense=expense
            passUpEditedExpense=(action 'passUpEditedExpense')
            passUpDeletedExpense=(action 'passUpDeletedExpense')
          }}
        {{/each}}
      {{/if}}

    <tr class="table-gap-row"></tr>
    <!-- End Savings -->


    <!-- Variable Expenses -->
      <tr id="variable-expenses-total" class="budget-section-total">
        <td class="table-gap">
          <button {{action 'handleCreateExpense' 'variable'}} >
            {{fa-icon "plus-circle"
              width='40px'
              class="budget-color-variable"
              fixedWidth=true
            }}
          </button>
        </td>

        <td class="bold table-desc">Variable Expenses</td>
        <td class="table-gap"></td>
        <td class="bold table-currency">{{format-number totalVariableExpenses "currency"}}</td>
        <td class="budget-section-percent">{{percentVariable}}%</td>

        <td class="table-icon toggle-expense-list">
          {{#if showVariableExpenses}}
            <button {{action 'toggleExpenses' 'variable'}}>{{fa-icon "caret-down" fixedWidth=true}}</button>
          {{else}}
            <button {{action 'toggleExpenses' 'variable'}}>{{fa-icon "caret-left" fixedWidth=true}}</button>
          {{/if}}
        </td>

      </tr>

      {{#if showVariableExpenses}}
        {{#each variableExpenses as |expense| }}
          {{budget-expense
            expense=expense
            passUpEditedExpense=(action 'passUpEditedExpense')
            passUpDeletedExpense=(action 'passUpDeletedExpense')
          }}
        {{/each}}
      {{/if}}

    <tr class="table-gap-row"></tr>
   <!-- End Variable Expenses -->

</table>