<tr>
  <td class="table-icon">
    {{#if currentHover}}
      <button {{action 'handleDeleteExpense'}}>{{fa-icon "minus-circle" fixedWidth=true}}</button>
    {{/if}}
  </td>

  <td class="table-desc">{{input name key-up="handleEditExpense" value=expense.name}}</td>

  <td class="table-gap"></td>

  <td class="table-currency"><span class="dollar-sign">$</span>{{input type='number' value=expense.amount key-up="handleEditExpense"}}</td>

  <td class="table-gap-small"></td>

 {{!--  {{#if infoLink }} --}}
    <td class="table-icon">
      <a target="_blank" href={{infoLink}}>{{fa-icon "info-circle" fixedWidth=true}}</a>
    </td>
{{!--   {{/if}} --}}




</tr>

