 <div class="{{if sidebarOpen "toggled"}}"  id="wrapper">

    {{main-sidebar
      model=checklistsInfo
      updateCurrentSection=(action 'updateCurrentList')
      currentSection=currentList
    }}


    <div id="page-content-wrapper">
      <div class="container-fluid">
        <button class="sidebar__toggle" {{action 'toggleSidebar'}}>
          {{#if sidebarOpen}}
            {{fa-icon "angle-double-left"
              class="fa"
            }}
          {{else}}
            {{fa-icon "angle-double-right"
              class="fa"
            }}
          {{/if}}
        </button>
{{!--
        {{log "=========="}}
        {{log checklistItemsCompleted}} --}}

        {{checklist-list
          checklistInfo=currentListInfo
          itemsCompleted=checklistItemsCompleted
          percentComplete=percentComplete
          updateProgressBar=(action "updateProgressBar")
        }}

         {{!-- updateChecklistItemsCompleted=(action "updateChecklistItemsCompleted") --}}

      </div>
    </div>
    <!-- /#page-content-wrapper  -->
  </div>