<div class="{{if sidebarOpen "toggled"}}" id="wrapper">

  {{guide-sidebar guide=guide}}

  <div id="page-content-wrapper">
    <div id="guide-container" class="container-fluid">

      <!-- guide navbar -->
      <div id="navbar" class="row">
          <button {{action 'toggleSidebar'}}>
            {{#if sidebarOpen}}
              {{fa-icon "caret-square-o-left"
                class="fa fa-2x"
              }}
            {{else}}
              {{fa-icon "caret-square-o-right"
                class="fa fa-2x"
              }}
            {{/if}}
          </button>

          {{#link-to 'index'}}
            {{fa-icon "home"
              id="home-icon"
              class="fa fa-2x"
            }}
          {{/link-to}}
      </div>
      <!-- /guide-navbar -->

      <!-- child route template (outlet)  -->
      <div class="row guide-content">
        <div class="col-lg-12">
          {{yield}}
        </div>
      </div>
      <!-- #/child route template  -->

    </div>
  </div>
  <!-- /#page-content-wrapper  -->

</div>

