   <label>
      <p class="slider-range_label-text">{{label_1}}</p>
        <h3>{{format-number currentValue numberType showDecimals}}</h3>
      <p class="slider-range_label-text">{{label_2}}</p>
        {{#if helperValue}}

          <h3>{{format-number helperValue helperType showDecimals}}</h3>
          <p class="slider-range_label-text">{{label_3}}</p>
        {{/if}}
   </label>


   {{input
      class="slider-range_input"
      type="range"
      defaultValue=value
      value=value
      min=min
      max=max
      step=step
    }}
