<div id="calculator_container">
<!--==============
  INPUT
===============-->
<div class="col-sm-5 calculator_input">

  <!-- Salary or Hourly -->
  <section>
    <h5>How will you be paid?</h5>

    {{button-group
      currentSelected=model.incomeType
      updateSelect=(route-action 'updateIncomeType')
      buttons=incomeTypeButtons
    }}
  </section>

  <!-- Enter Income Info -->
  <section>
    <!-- Enter Salary -->
    {{#if (eq model.incomeType 'salary')}}
      {{slider-range
        label_1="I make"
        label_2="a year."
        min=10000
        max=100000
        step=100
        value=model.annualIncome
        update=(route-action 'updateGrossAnnualIncome')
        numberType="currency"
      }}
    {{/if}}

    <!-- Enter Hourly -->
    {{#if (eq model.incomeType 'hourly')}}
      {{slider-range
        label_1="I get paid"
        label_2="an hour."
        min=7.25
        max=50
        step=0.25
        value=model.hourlyWage
        update=(route-action 'updateHourlyWage')
        numberType="currency"
        showDecimals=2
      }}

      {{slider-range
        label_1="I work"
        label_2="hours a week, on average."
        min=1
        max=100
        step=1
        value=model.workingHoursPerWeek
        update=(route-action 'updateworkingHoursPerWeek')
        numberType="plain"
      }}

      {{slider-range
        label_1="I work"
        label_2="weeks per year."
        min=1
        max=52
        step=1
        value=model.workingWeeksPerYear
        update=(route-action 'updateworkingWeeksPerYear')
        numberType="plain"
      }}

    {{/if}}
  </section>

  <!-- Pay Period -->
  <section>
    <h5>How frequently are you paid?</h5>
    {{button-group
      currentSelected=model.payPeriod
      updateSelect=(route-action 'updatePayPeriod')
      buttons=payFrequencyButtons
    }}
  </section>

  <!-- Pre-Tax Retirement Savings -->
  <section>
    {{slider-range
      update=(route-action 'updateEmployerPlanDeferralRate')
      numberType="percent"
      value=model.employerPlanDeferralRate
      showDecimals=1
      min=0.01
      max=maxPreTaxSavingsRate
      step=0.001
      label_1="I plan to contribute"
      label_2="a.k.a."
      label_3="of my annual income to my company's retirement plan (e.g. 401k)."
      helperType="currency"
      helperValue=employerPlanDeferralPerYear

    }}
  </section>

  <!-- State -->
  <section>
    <h5>What state do you live in?</h5>
    {{dropdown-select
      optionsObject=listOfStates
      update=(route-action 'updateState')
      selected=model.stateName
    }}
  </section>
</div> <!-- Calculator Input -->

<!--==============
  OUTPUT
 ===============-->
<div class="col-sm-7 calculator_output">

    <!-- Pick Time Period -->
    <div class="row">
      {{button-group
        currentSelected='year'
        updateSelect=(action 'updateTimeframe')
        buttons=selectTimeframeButtons
      }}
    </div>


    <!-- Income Per Period -->
    <div class="row">
      <h1>{{format-number (div incomePerYear timeframeDivisor) "currency"}}</h1><br>
       <h4>is how much you earn per
        {{#if (eq timeframe "year")}}
          year
        {{else if (eq timeframe "month")}}
          month
        {{else}}
          paycheck
        {{/if}}
       </h4>
    </div>

    <!-- Retirement Savings  -->
    <div class="row">
      <div class="col col-xs-5">
        <h1>{{format-number (div employerPlanDeferralPerYear timeframeDivisor) "currency"}}</h1>
        <hr>
        <h1 class="text--bold-gray">{{format-number  model.employerPlanDeferralRate "percent"}}</h1>
      </div>
      <div class="col col-xs-7">
        <h4>of that will be saved in your company's retirement plan</h4>
      </div>
    </div>

    <!-- Federal Tax Withholding  -->
    <div class="row">
      <div class="col col-xs-5">
        <h1>{{format-number (div fedTaxWhPerYear timeframeDivisor) "currency"}}</h1>
        <hr>
        <h1 class="text--bold-gray">{{format-number  (div fedTaxWhPerYear incomePerYear) "percent"}}</h1>
      </div>
      <div class="col col-xs-7">
        <h4>will be withheld to pay federal income tax</h4>
      </div>
    </div>

    <!-- State Tax Withholding  -->
    <div class="row">
      <div class="col col-xs-5">
        <h1>{{format-number (div stateIncomeTaxPerYear timeframeDivisor) "currency"}}</h1>
        <hr>
        <h1 class="text--bold-gray">{{format-number (div stateIncomeTaxPerYear incomePerYear) "percent"}}</h1>
      </div>
      <div class="col col-xs-7">
        <h4>will be withheld to pay {{model.stateName}} state income tax. <i>This is a rough, conservative estimate</i></h4>
      </div>
    </div>

    <!-- FICA Tax  -->
    <div class="row">
      <div class="col col-xs-5">
        <h1>{{format-number (div ficaTaxPerYear timeframeDivisor) "currency"}}</h1>
        <hr>
        <h1 class="text--bold-gray">{{format-number (div ficaTaxPerYear incomePerYear) "percent"}}</h1>
      </div>
      <div class="col col-xs-7">
        <h4>will be withheld to pay social security and medicare (FICA) tax</h4>
      </div>
    </div>

    <div class="row">
      <h4 class="bold text-align--center">
        Your take-home pay per
          <span class="text--blue-gray">
            {{#if (eq timeframe "year")}}
              year
            {{else if (eq timeframe "month")}}
              month
            {{else}}
              {{model.payPeriod}} paycheck
            {{/if}}
          </span>
        will be <i>approximately</i>

      </h4>
      <h1>{{format-number (div takeHomePayPerYear timeframeDivisor) "currency"}}</h1>
    </div>

    <hr class="line--thick-blue">


  </div> <!-- Calculator Output -->
</div> <!-- Calculator Container -->

