
<h2>Are you paid a salary or hourly?</h2>
{{button-group
  currentSelected=model.incomeType
  updateSelect=(route-action 'updateIncomeType')
  buttons=incomeTypeButtons
}}

<br><br>

{{#if (eq model.incomeType 'salary')}}
  {{input annualIncome type='number' placeholder='Enter Income' key-up='updateGrossAnnualIncome' value=model.annualIncome}}
{{/if}}

<br><br>

{{#if (eq model.incomeType 'hourly')}}
  {{input hourlyWage type='number' placeholder='Enter Hourly Wage' key-up='updateHourlyWage' value=model.hourlyWage}}
  <br>
  {{input workingHoursPerWeek type='number' placeholder='Enter Hours Working per week' key-up='updateworkingHoursPerWeek' value=model.workingHoursPerWeek}}
  <br>
  {{input workingWeeksPerYear type='number' placeholder='Weeks worked per year' key-up='updateworkingWeeksPerYear' value=model.workingWeeksPerYear}}
{{/if}}

<h3>Not paid salary or hourly?</h3>
<p>It's totally normal to get paid based on commission, on a project basis, as a contractor, etc. For now, just pick "salary" and enter how much you expect to make in one full year.<br><br>

But know that this guide is for the simple circumstances. It's important to figure out whether taxes are withheld from your pay (more to learn in a later section). If not, you may need to make estimated tax payments. <strong>If unsure, consult your employer, a fellow employee, or tax/financial expert.</strong></p>



