<h1>Local Storage</h1><br>

{{log model}}



<h4>Expenses</h4>

<code>
  {{model.expenses}}
</code>

<h4>Data</h4>

<code>
  Annual Income  -  {{model.annualIncome}}
</code><br><br>

<code>
  Hourly Wage  -  {{model.hourlyWage}}
</code>

<br>
<code>
  Pay Period  -  {{model.payPeriod}}
</code><br><br>

